html,
button,
input,
select,
textarea {
  background: white;
  color: #555555;
  font-family: Arial, sans-serif;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.5; }

body {
  margin: 0 auto;
  max-width: 1920px; }

a {
  color: #333333;
  text-decoration: none;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out; }

a:link {
  color: #333333;
  text-decoration: none; }

a:visited {
  color: #333333;
  text-decoration: none; }

a:hover {
  color: #333333;
  text-decoration: underline; }

a:active {
  color: #333333;
  text-decoration: none; }

::-moz-selection {
  background: #cccccc;
  color: #333333;
  text-shadow: none !important; }

::selection {
  background: #cccccc;
  color: #333333;
  text-shadow: none !important; }

input,
button,
select,
textarea {
  background-color: white;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out; }

input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
input.text,
textarea {
  -webkit-appearance: none;
  border: 1px solid #cccccc;
  padding: 12px; }

select {
  border: 1px solid #cccccc;
  padding: 12px; }

input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
input.text:focus,
textarea:focus,
select:focus {
  border-color: #666; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #cccccc; }

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #cccccc; }

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #cccccc; }

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #cccccc; }

label {
  color: #333333; }

a.btn,
input.btn,
div.btn,
input[type="submit"],
button {
  -webkit-appearance: none;
  background-color: #333333;
  border: none;
  color: #cccccc;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 12px 26px;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out; }

a.btn:hover,
input.btn:hover,
div.btn:hover,
input[type="submit"]:hover,
button:hover {
  background-color: #222;
  text-decoration: none; }

input.btn:focus,
input[type="submit"]:focus,
button:focus {
  background-color: #222; }

a.btn.disabled,
input.btn.disabled,
div.btn.disabled,
input[type="submit"].disabled,
button.disabled {
  background-color: #eeeeee;
  color: #cccccc;
  cursor: default; }

textarea {
  resize: vertical; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
  font-weight: normal;
  line-height: 1.4; }

h1,
h2,
h3 {
  line-height: 1.2; }

h1 {
  font-size: 3.375em; }

h2 {
  font-size: 2.25em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1em; }

img, object, embed {
  height: auto !important;
  max-width: 100%; }

@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?27895402");
  src: url("../fonts/fontello.eot?27895402#iefix") format("embedded-opentype"), url("../fonts/fontello.woff?27895402") format("woff"), url("../fonts/fontello.ttf?27895402") format("truetype"), url("../fonts/fontello.svg?27895402#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0; }

/* ==========================================================================
   Icons
   ========================================================================== */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none; }

.icon-twitter:before {
  content: '\e802'; }

.icon-facebook:before {
  content: '\e801'; }

.icon-down-open:before {
  content: '\e800'; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* ==========================================================================
   Layout Styles
   ========================================================================== */
.content {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px; }

.copyright {
  font-size: 0.8125em;
  margin: 0;
  text-align: center; }

.footer-nav {
  margin-bottom: 14%; }

.footer-nav ul {
  border-top: 1px solid #666;
  list-style: none;
  margin: 0;
  padding: 0; }

.footer-nav li {
  border-bottom: 1px solid #666;
  font-size: 0.8125em; }

.footer-nav a {
  display: block;
  padding: 4% 0; }

.nav-icon {
  cursor: pointer;
  display: block;
  height: 56px;
  padding: 17px 0 0 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 12px;
  width: 56px; }

.nav-icon .icon-bar {
  background: #333333;
  display: block;
  -moz-border-radius: 2px;
  border-radius: 2px;
  height: 3px;
  line-height: 1;
  margin: 3px auto;
  overflow: hidden;
  width: 18px; }

.primary-nav {
  list-style: none;
  margin: 0;
  padding: 0; }

.primary-nav a {
  background: #333333;
  border-top: 1px solid #444;
  color: #999999;
  display: block;
  padding: 6% 20px; }

.primary-nav a:hover {
  background: #222;
  text-decoration: none; }

.site-footer {
  background: #555555;
  color: #aaa;
  padding: 14% 0; }

.site-footer h1,
.site-footer h2,
.site-footer h3,
.site-footer h4 {
  color: #eeeeee; }

.site-footer a,
.site-footer a:link,
.site-footer a:visited,
.site-footer a:active {
  color: #eeeeee; }

.site-header .logo {
  display: block;
  margin-right: 56px;
  padding: 20px; }

.site-header .logo img {
  display: block;
  max-height: 44px; }

.js .site-nav {
  display: none; }

/* ==========================================================================
  Carousel
 ========================================================================== */
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
  margin-bottom: 2em; }

.swipe-wrap {
  overflow: hidden;
  position: relative; }

.swipe-wrap > div {
  float: left;
  width: 100%;
  position: relative; }

.swipe a.arrow {
  display: none;
  position: absolute;
  top: 45%;
  font-size: 1.5em;
  text-decoration: none; }

.swipe a.arrow.active {
  display: block; }

.swipe a.arrow:before {
  opacity: 0.2;
  color: #000000; }

.swipe a.arrow.icon-leftarrow {
  left: 2.5%;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-right: 30px solid #000;
  border-bottom: 15px solid transparent;
  opacity: 0.2;
  cursor: pointer; }

.swipe a.arrow.icon-rightarrow {
  right: 2.5%;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-left: 30px solid #000;
  border-bottom: 15px solid transparent;
  opacity: 0.2;
  cursor: pointer; }

.swipe nav {
  position: absolute;
  left: 2.5%;
  top: 2.5%; }

.swipe nav ul {
  margin: 0;
  padding: 0; }

.swipe nav li {
  float: left;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #383838;
  margin: 12px 12px 0 0;
  cursor: pointer;
  display: block; }

.swipe nav li.active {
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(top, white, #cccccc);
  background-image: -moz-linear-gradient(top, white, #cccccc);
  background-image: -ms-linear-gradient(top, white, #cccccc);
  background-image: -o-linear-gradient(top, white, #cccccc);
  background-image: linear-gradient(top, white, #cccccc); }

.swipe h2.caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  color: #000;
  padding: 0.5em;
  margin-bottom: 0;
  font-size: 0.8125em; }

.search {
  background: #eeeeee;
  padding: 14% 0; }

.search .content {
  max-width: 900px; }

.search h2 {
  font-size: 1.5em;
  margin-top: 0; }

.search .dropdown {
  margin-bottom: 10%; }

.search .dropdown .icon-down-open {
  float: right;
  font-size: 0.8125em;
  border-left: 1px solid #444;
  padding: 0 6% 0 5%; }

.search .dropdown .button {
  background: #333333;
  color: #cccccc;
  cursor: pointer;
  display: block;
  padding: 5% 0 5% 8%;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out; }

.search .dropdown.active .button {
  background: #222; }

.search .dropdown ul {
  background: #333333;
  display: none;
  list-style: none;
  margin: 0;
  padding: 0; }

.search .dropdown li {
  color: #cccccc;
  cursor: pointer;
  border-top: 1px solid #444;
  padding: 5% 8%; }

.search #search-hotels,
.search #search-attractions,
.search #search-restaurants {
  display: none; }

.search .search-form {
  text-align: center; }

.search .form-field {
  margin-bottom: 4%;
  text-align: left; }

.search button {
  margin-top: 4%; }

.search label {
  display: none; }

.search input,
.search select {
  width: 100%; }

@media only screen and (min-width: 500px) {
  .search {
    padding: 8% 0; }

  .search button {
    margin: 0; }

  .search .dropdown {
    margin-bottom: 6%; }

  .search .dropdown .button {
    padding: 3% 0 3% 6%; }

  .search .dropdown .icon-down-open {
    padding: 0 4% 0 3%; }

  .search .dropdown li {
    padding: 3% 6%; }

  .search .form-field {
    margin-bottom: 2%; } }
@media only screen and (min-width: 750px) {
  .search h2 {
    text-align: center; }

  .search .dropdown .button {
    display: none;
    padding: 2% 0 2% 4%; }

  .search .dropdown .icon-down-open {
    padding: 0 3% 0 2.5%; }

  .search .dropdown ul {
    background: none;
    border-bottom: 1px solid #cccccc;
    display: block !important; }

  .search .dropdown li {
    border: none;
    color: #999999;
    float: left;
    font-size: 1.25em;
    margin: 0 2em -1px 0;
    padding: 0.25em 0; }

  .search .dropdown li.active {
    border-bottom: 1px solid #333333;
    color: #333333; }

  .search label {
    display: block;
    float: left;
    margin-right: 2%;
    padding: 12px 0;
    width: 20%; }

  .search input,
  .search select {
    float: left;
    width: 78%; }

  .search input::-webkit-input-placeholder,
  .search textarea::-webkit-input-placeholder {
    color: white; }

  .search input:-moz-placeholder,
  .search textarea:-moz-placeholder {
    color: white; }

  .search input::-moz-placeholder,
  .search textarea::-moz-placeholder {
    color: white; }

  .search input:-ms-input-placeholder,
  .search textarea:-ms-input-placeholder {
    color: white; } }
@media only screen and (min-width: 950px) {
  .search {
    padding: 4% 0; }

  .search .dropdown {
    margin: 0; }

  .search h2 {
    margin-bottom: 6%; }

  .search .search-form {
    background: white;
    border: 1px solid #cccccc;
    border-top: none;
    padding: 8% 6% 6% 6%; } }
.stackable {
  border-bottom: 1px solid #ddd; }

.stackable h2 {
  font-size: 1.5em;
  margin: 0;
  padding: 14% 20px; }

.stackable .icon {
  display: block;
  text-align: center; }

.stackable .step {
  border-top: 1px solid #ddd;
  padding: 14% 20px; }

.stackable h3 {
  margin: 1em 0 0.5em 0; }

.stackable p {
  margin: 0; }

@media only screen and (min-width: 500px) {
  .stackable .icon {
    float: left;
    margin-right: 2em; }

  .stackable h3 {
    margin-top: 0; }

  .stackable h2 {
    padding: 8% 20px; }

  .stackable .step {
    padding: 8% 20px; } }
@media only screen and (min-width: 950px) {
  .stackable {
    border: none;
    margin: 0 auto;
    max-width: 1300px;
    padding: 0 40px; }

  .stackable h2 {
    padding: 6% 0;
    text-align: center; }

  .stackable h3 {
    margin-top: 2em; }

  .stackable .icon {
    float: none;
    margin: 0; }

  .stackable .step {
    border: none;
    float: left;
    padding: 0;
    margin-right: 8%;
    width: 19%; }

  .stackable .step.last {
    margin-right: 0; } }
/* ==========================================================================
   Grid Styles
   ========================================================================== */
.columns .col-1-2 {
  float: left;
  margin-right: 8%;
  width: 46%; }

.columns .col-1-4 {
  float: left;
  margin-right: 8%;
  width: 19%; }

.columns .col-3-4 {
  float: left;
  margin-right: 8%;
  width: 73%; }

.columns .col-1-3 {
  float: left;
  margin-right: 8%;
  width: 28%; }

.columns .col-2-3 {
  float: left;
  margin-right: 8%;
  width: 64%; }

.columns .last {
  margin-right: 0; }

.columns .last + * {
  clear: both; }

.testimonial {
  background: #eeeeee;
  padding: 0 20px 4% 20px;
  text-align: center; }

.testimonial blockquote {
  background: #ddd;
  margin: 0 auto;
  max-width: 900px;
  padding: 20px;
  position: relative;
  text-align: left;
  top: -20px; }

.testimonial blockquote:after {
  content: "";
  position: absolute;
  bottom: -20px;
  right: 20px;
  border-width: 20px 20px 0 0;
  border-style: solid;
  border-color: #ddd transparent;
  display: block;
  width: 0; }

.testimonial p {
  margin: 0; }

.testimonial .author {
  color: #333333;
  font-size: 0.8125em;
  margin-top: -10px; }

@media only screen and (min-width: 950px) {
  .testimonial {
    padding: 0 40px; }

  .testimonial blockquote {
    padding: 3% 4%; }

  .testimonial blockquote:after {
    right: 80px; }

  .testimonial .author {
    font-size: 1em;
    margin: 0; } }
/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  /*     a[href]:after {
          content: " (" attr(href) ")";
      }
  
      abbr[title]:after {
          content: " (" attr(title) ")";
      } */
  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 1cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
/* ==========================================================================
   Screen size 500 and up
   ========================================================================== */
@media only screen and (min-width: 500px) {
  .footer-nav ul {
    border: none; }

  .footer-nav li {
    float: left;
    width: 46%; }

  .footer-nav li:nth-child(odd) {
    clear: both;
    margin-right: 8%; }

  .primary-nav a {
    padding: 4% 20px; }

  .site-footer {
    padding: 8% 0; } }
/* ==========================================================================
   Screen size 750 and up
   ========================================================================== */
@media only screen and (min-width: 750px) {
  .footer-nav {
    border-top: 1px solid #666;
    margin-bottom: 8%;
    padding-top: 8%; }

  .footer-nav li {
    font-size: 1em; }

  .nav-icon {
    display: none; }

  .primary-nav li {
    border-left: 1px solid #444;
    float: left;
    text-align: center;
    width: 25%; }

  .primary-nav li:first-child {
    border-left: none; }

  .primary-nav a {
    border: none;
    padding: 8% 20px; }

  .primary-nav .icon {
    float: none;
    margin: 0 auto; }

  .site-header {
    padding: 20px; }

  .site-header .logo {
    float: left;
    padding: 0; }

  .site-header .logo img {
    max-height: none; }

  .site-nav {
    display: block !important; } }
/* ==========================================================================
   Screen size 950 and up
   ========================================================================== */
@media only screen and (min-width: 950px) {
  .content {
    max-width: 1300px;
    padding-left: 40px;
    padding-right: 40px; }

  .footer-nav {
    padding-top: 4%; }

  .footer-nav li {
    margin-right: 8%;
    width: 28%; }

  .footer-nav li:nth-child(odd) {
    clear: none; }

  .footer-nav li:nth-child(3n+1) {
    clear: both; }

  .footer-nav li:nth-child(3n) {
    margin-right: 0; }

  .primary-nav {
    border-left: 1px solid #444;
    border-right: 1px solid #444;
    margin: 0 auto;
    max-width: 1220px; }

  .primary-nav a {
    padding: 12% 40px; }

  .primary-nav p {
    display: block; }

  .site-footer {
    padding: 4% 0; }

  .site-header {
    padding: 2% 40px;
    margin: 0 auto;
    max-width: 1300px; }

  .site-nav {
    background: #333333; } }
